<div class="container">

    <div class="wrapper fadeInDown">
        <div id="formContent">
            <div *ngIf="inRoom" class="fadeIn first">
                <h1>{{currentroom}}</h1>
                <h2>{{numusers}} Active Users</h2>
                <h3>Notices</h3>
                {{roomnotice}}<br/>
                <button (click)="clearNotice()" class="btn btn-primary">Clear notice</button><br/>
                <ul class="fadeIn second">
                    <li *ngFor="let message of messages">{{message}}</li>
                </ul>
            </div>
            <form>
            <input *ngIf="inRoom" type="text" [(ngModel)]="messageContent" id="messageContent" class="fadeIn third" name="messageContent" placeholder="Enter Message">
            <input *ngIf="inRoom" type="submit" (click)="chat()" class="fadeIn fourth" value="Chat">
            <div class="form-group">
                <select [(ngModel)]="roomsList" name="roomslist">
                    <option [ngValue]="null">Select Room</option>
                    <option *ngFor="let room of rooms">{{room}}</option>
                </select><br/><br/>
                <button *ngIf="!inRoom" (click)="joinRoom()" class="btn btn-primary">Join</button>&nbsp;
                <button *ngIf="inRoom" (click)="leaveRoom()" class="btn btn-primary">Leave</button>&nbsp;
            </div>
            </form>
        </div>
    </div>
    
    <form>
        <label for="newRoom">New Room</label>
        <input type="text" [(ngModel)]="newRoom" name="newRoom" id="newRoom" class="form-control"/>
        <button (click)="createRoom()" class="btn btn-primary">Create New room</button>
    </form>
</div>
