
<div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->
  
      <!-- Icon -->
      <div class="fadeIn first">
        <h1>Login</h1>
      </div>
  
      <!-- Login Form -->
      <form>
        <input type="text" [(ngModel)]="name" id="name" class="fadeIn second" name="name" placeholder="name" value="matt">
        <input type="text" [(ngModel)]="password" id="password" class="fadeIn third" name="password" placeholder="password" value="asd">
        <input type="submit" (click)="login()" class="fadeIn fourth" value="Log In">
      </form>
  
      <!-- Remind Passowrd -->
      <div id="formFooter">
        <h2 class="underlineHover">Chatter</h2>
      </div>
  
    </div>
  </div>
  